<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Made By Nadi</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Iconfont -->
    <link rel="stylesheet" href="/icon/icofont/icofont.min.css">
</head>

<body>
    <div class="container-fluid my-5">
        <h1 class="text-center">Admin Panel</h1>
        <div class="row my-5">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="appointment-tab" data-toggle="pill" href="#appointment" role="tab" aria-controls="appointment" aria-selected="true">Appointments</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="cus-feedback-tab" data-toggle="pill" href="#cus-feedback" role="tab" aria-controls="cus-feedback" aria-selected="false">Customer Feedbacks</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!-- Start Appointment (Buyer) -->
                            <div class="tab-pane fade show active" id="appointment" role="tabpanel" aria-labelledby="appointment-tab">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="sampleTable">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Address</th>
                                                <th>Package</th>
                                                <th>Visit</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Message</th>
                                                <th>Reference</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var i = 1; %>
                                            <% data.forEach(function(appointment){ %>
                                            <tr>
                                              <td><%= i++ %></td>
                                              <td><%= appointment.name %></td>
                                              <td><%= appointment.phone %></td>
                                              <td><%= appointment.address %></td>
                                              <td><%= appointment.package %></td>
                                              <td><%= appointment.visit %></td>
                                              <td><%= appointment.date %></td>
                                              <td><%= appointment.time %></td>
                                              <td><%= appointment.message %></td>
                                              <td><%= appointment.ref %></td>
                                              <td><%= appointment.status %></td>
                                              <td>
                                                <a href="updateappointment/<%= appointment.doc_id %>" class="btn btn-warning">
                                                  <i class="icofont-ui-settings"></i>
                                                </a>
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="">
                                                  <input type="hidden" name="id" value="">
                                                  <button class="btn btn-outline-danger">
                                                      <i class="icofont-close"></i>
                                                  </button>
                                                </form>
                                              </td>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Appointment  -->
                            <!-- Start Customer Feedbacks -->
                            <div class="tab-pane fade" id="cus-feedback" role="tabpanel" aria-labelledby="cus-feedback-tab">
                              ...
                            </div>
                            <!-- End Customer Feedbacks -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
    $('#sampleTable').DataTable();
    $('table.display').DataTable();
    </script>
</body>

</html>